{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'appointment/style.css' %}">
    <title>EZ Appointment</title>
</head>
<body class="bg-gradient-to-r from-blue-400 to-red-300">
    <nav class="bg-white shadow-lg">
			<div class='max-w-6xl mx-auto px-4'>
        <div class="flex justify-between">
            <div class="flex space-7">
              <div>
								<a class="flex items-center px-2 py-4" href="#">
									<img class="h-8 w-8" src="{% static 'appointment/images/aid.png' %} " alt="">
									<span class="text-gray-500 text-lg font-semibold">EZ Appointment</span>
								</a>
							</div>
              <div class="items-center flex space-x-1">
								<a class="px-2 py-4 text-gray-500 font-semibold border-b-4 border-green-500" href="#">Home</a>
								<a class="px-2 py-4 text-gray-500 font-semibold" href="#">About</a>
								<a class="px-2 py-4 text-gray-500 font-semibold" href="#">Contact</a>
							</div>
            </div>
          </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>