{% extends "appointment/base.html" %}
{% block content %}
	<div class="bg-gradient-to-br from-red-200 to-blue-400 flex m-10  pr-2 h-96">
		<div class='p-4 shadow-md w-3/5 mt-24'>
			<h1 class='font-bold text-gray-900 text-2xl'>Book an appointment from your home.</h1>
			<p>Don't have to wait on lines for medical consultation. Just book your appoint and go to doctor's office at mentioned time.</p>
			<a class='bg-green-700' href="#"><h1 class='bg-green-500 inline-block px-3 py-1'>Book An Appointment</h1></a>
		</div>
		<div class="mt-12 text-center shadow-md w-2/5">
			<div class="mt-8">
				<h1 class='font-green-700 font-bold '>Already have an account??</h1>
				<a class='bg-green-700' href="#"><h1 class='bg-green-500 inline-block px-3 py-1'>Log In</h1></a>
			</div>
			<div class='mt-4 p-3'>
				<p>Doesn't haver an account?? <a class='text-blue-900 underline' href="#">Click here</a> to register.</p>

			</div>
			
		</div>
	</div>
{% endblock content %}